<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="CLIENT - %d{DATE} %-5level %class{36} %L %M - %msg%n"/>
        </Console>
        <RollingFile name="log" fileName="target/Client.log" append="true" filePattern="target/Client-%d{MM-dd-yyyy}.log.gz">
            <PatternLayout pattern="CLIENT - %d{DATE} %-5level %class{36} %L %M - %msg%n"/>
            <SizeBasedTriggeringPolicy size="10 MB"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="log"/>
        </Root>
    </Loggers>
</Configuration>