<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.data>
        <DbProviderFactories>
            <remove invariant="MySql.Data.MySqlClient"/>

            <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient"
                 name="MySQL Data Provider"
                 type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
        </DbProviderFactories>
    </system.data>

    <connectionStrings>
        <clear/>
        <add name="MariaDBConnectionString"
             providerName="MySql.Data.MySqlClient"
             connectionString="Server=localhost;Port=3306;Database=MotorcycleContestNew;UID=mariadb;PWD=mariadb;"/>
    </connectionStrings>

    <appSettings>
        <add key="port" value="8080"/>
        <add key="hostname" value="127.0.0.1"/>
    </appSettings>

    <log4net>
        <root>
            <level value="ALL"/>
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </root>
        <appender name="console" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="SERVER - %date [%thread] %level %logger - %message%newline"/>
            </layout>
        </appender>
        <appender name="file" type="log4net.Appender.RollingFileAppender">
            <file value="Server.log"/>
            <appendToFile value="true"/>
            <rollingStyle value="Size"/>
            <maxSizeRollBackups value="5"/>
            <maximumFileSize value="10MB"/>
            <staticLogFileName value="true"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
            </layout>
        </appender>
    </log4net>
</configuration>